@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e4e1e1;
    --foreground: #535353;

    --muted: #898989;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: #ffffff;
    --card-foreground: #0e151d;

    /* --primary: #00932f; */
    --primary: #1F7E3D;
    --primary-foreground: #fff;

    --secondary: #6e6e6e;
    --secondary-foreground: #19232f;

    --accent: #ffffff;
    --accent-foreground: #f8f8f8;

    --destructive: #d00000;
    --destructive-foreground: #ffffff;

    --ring: #4c4847;
    --border: #4c4847;
    --input: #d0d0d0;

    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: #151718;
    --foreground: #e3e6e6;

    /* --muted: #353636; */
    --muted: #c5c5c5;
    --muted-foreground: #c5c5c5;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: #202223;
    --card-foreground: #ffff;

    --primary: #1F7E3D;
    --primary-foreground: #fff;

    --secondary: #393a3a;
    --secondary-foreground: #f8f8f8;

    --accent: #222525;
    --accent-foreground: #f8f8f8;

    --destructive: #d00000;
    --destructive-foreground: #ffffff;

    --ring: #353636;
    --border: #353636;
    --input: #2d2e2e;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  body {
    font-family: 'Inter', sans-serif;
  }
}

/* @layer base {
  body {
    font-family: "Inter", sans-serif;
  }
} */

@layer components {
  input[type='checkbox']:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

/* imported 10-1 */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow: hidden;
    /* font-family: 'Fira Mono', serif; */
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  -ms-content-zooming: none;
  touch-action: pan-x pan-y;
  -ms-touch-action: pan-x pan-y;
}

body {
  -ms-content-zooming: none;
  touch-action: pan-x pan-y;
  -ms-touch-action: pan-x pan-y;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
